.site-footer
	background-image url('img/footerbackground.svg')
	background-size cover
	background-repeat no-repeat
	background-position top
	
	padding-top 5em
	padding-bottom 15em
	
	color #4A4F4C
	
	h3
		color #4A4F4C

.footer-column
	
	+above('m')
		lost-column 4/12
		
		&.footer-column--right
			lost-offset -2/12
		
		