.site-footer
	background-image url('img/background-map.jpg')
	background-size cover
	background-repeat no-repeat
	background-position top
	
	padding-top 5em
	padding-bottom 5em

.footer-column
	
	+above('m')
		lost-column 4/12
		
		&.footer-column--right
			lost-offset -2/12
		
		