.main-intro
	// background-color grey
	// padding 7em 0 6em
	height 100vh
	display flex
	justify-content center
	align-items center
	align-content space-around

.crowdspot-logo-main

	opacity 0
	
	width 200px
	margin 4em auto 4em
	
	.crowdspot-logo-bird1, .crowdspot-logo-bird2
		opacity 0
			
	+above('m')
		width 500px
		
.intro-map
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	
	#roads, #rivers, #mainroad4, #mainroad3, #mainroad2, #mainroad1
		opacity 0