#map
	display block
	
	.roads, .features, .mainroad, .marker, .visualise, .decisionbird, #logotype, .logobird, .mapgradient, .introTitles
		opacity 0

// .gradientanimatedbird1
// 	fill linear-gradient(230deg, #24dcac, #dc246f);
// background-size: 400% 400%;

.main-intro
	position relative
	
	.section__subtitle
		position absolute
		bottom 22%
		opacity 0