.why-crowdspot-founders
	margin auto
	
	+above('m')
		display flex
		justify-content space-around
		max-width 900px
		
	
.why-crowdspot-founder
	text-align center
	
	+above('m')
		padding-left 20px
		padding-right 20px
		max-width 400px
	
	img
		display inline
		
.crowdspot-founder__image
	margin-top 1em
	margin-bottom 1em
	width 180px
	
.crowdspot-founder__name
	fs rem(24px)
	font-weight 600
	margin-bottom 1em