.section-crowdspot-features
	// background-image linear-gradient(-223deg, rgba(255,255,255,0.50) 0%, rgba(0,255,39,0.50) 100%), radial-gradient(circle at top left, #284EF6, #FF0000);
	// background-image linear-gradient(180deg, #4A4F4C 0%, black 100%)
	// background-color black
	// background-color #C7C7C7
	position relative
	// background linear-gradient(-45deg, rgba(#4E8146, 1), rgba(#E26F86, 1) 90%), linear-gradient(45deg, rgba(#E26E87, 1), rgba(#50834E, 1) 90%)
	// color white
	overflow hidden

	padding-top 2em
	padding-bottom 2em

	.gradientAnimatedBird
		width 47px
		margin-bottom -18px
		margin-left 0.5em

		+above('m')
			width 67px
			margin-bottom -15px
			// margin-left 1em

	// h2
	// 	color white

.crowdspot-features-section
	
	background-image url('img/footerbackground.svg')
	background-size cover
	background-repeat no-repeat
	background-position top
	padding-top 2em
	padding-bottom 2em
	
.crowdspot-features-section--alt
	// background-color lighten(grey, 90%)
	// box-shadow none
	box-shadow 0 0 25px rgba(black, 0.15) inset
	// background none
	
.crowdspot-features-section--community
	background-size 800px
	background-position bottom right
	background-image url('img/community-background.svg')

.crowdspot-features-section--insights
	background-size 800px
	background-position bottom left
	background-image url('img/insights-background.svg')
	
	
.crowdspot-features-row
	display flex
	// align-items center
	flex-wrap wrap
	padding-top 2em
	padding-bottom 2em
	
.crowdspot-features-row--alt
	
	+above('l')
		flex-direction row-reverse
		
		.crowdspot-features__list
			padding-right 0em
			padding-left 2em
		
		// .crowdspot-features__list__item
		// 	flex-direction row-reverse
	
.crowdspot-features__list
	// // lost-column 5/12

	// +above('m')
	// 	lost-column 6/12
	// 	// margin-top -1.5em

	// +above('l')
	// 	lost-column 5/12
	// // background-color red
	+above('m')
		width 100%
		
	+above('l')
		width 35%
		padding-right 2em

.crowdspot-features__list__category-title
	text-align center
	fs rem(24px)
	font-weight 600
	// margin-top 2em
	// margin-bottom 1em
	// margin-left -2em
	// margin-right -2em
	padding-top 2em
	padding-bottom 1em
	// border-top 4px solid #DDDDDD
	// box-shadow 0 -25px 25px -25px rgba(black, 0.40)

.crowdspot-features__list__item
	// lost-utility clearfix
	margin-bottom 1em
	display flex

	transition opacity 0.5s ease

	+above('m')
		cursor pointer
		opacity 0.75

	&:hover, &.active
		opacity 1

.crowdspot-features__list__item__thumbnail
	// lost-column 3/12
	width 80px
	flex-shrink 0

	// +above('m')
	// 	lost-column 3/12

	// +above('l')
	// 	lost-column 2/12

	img
		width 55px
		// border-radius 50%
		// box-shadow 2px 2px 4px 0 rgba(black, 0.18)

.crowdspot-features__list__item__text
	// lost-column 9/12

	// +above('m')
	// 	lost-column 7/12

	// +above('l')
	// 	lost-column 9/12

.crowdspot-features__list__item__text__title
	font-weight 700
	fs rem(18px)
	padding-top 0.5em
	padding-bottom 0.5em

.crowdspot-features__list__item__text__expandable
	font-weight 300
	fs rem(18px)
	display none

.crowdspot-features__images
	display none

	+above('m')
		display block
		min-height 500px
		width 100%
		
	+above('l')
		width 65%
	// 	lost-column 6/12
	// 	overflow visible

	// img, video
	// 	width 50vw
	// 	+above('m')
	// 		margin-right -90%
	// 		max-width 118%
	// 		// max-width 1000000px

	// video
	// 	padding-top 3vw

.crowdspot-features__video
	position relative
	// width 50vw
	// max-width 940px
	display none
	overflow hidden
	border-radius 5px
	box-shadow 2px 2px 5px rgba(black, 0.18)

	// +above('m')
	// 	margin-right -90%

	&:before
		content ''
		position absolute
		width 100%
		height 8vw
		background-image url('img/browser-head@2x.png')
		background-repeat no-repeat
		background-size 100%
		z-index 10
		border-top-left-radius 5px
		border-top-right-radius 5px

// .crowdspot-features-row--alt
// 	.crowdspot-features__images
// 		img, video
// 			+above('m')
// 				margin-right 0
// 				margin-left -90%