.section-testimonials
	background-image url('img/testimonials-background.png')
	background-size cover
	min-height 340px
	
	.slick-slider
		margin-bottom 0
	
.testimonial
	text-align center
	
	+above('l')
		lost-column 10/12
		lost-offset -1/12
		
	+above('xl')
		lost-column 8/12
		lost-offset -2/12
	
	.testimonial__text
		// font-weight 700
		// fs rem(24px)
		// margin-bottom 45px