.section-signup-newsletter
	background-image url('img/background-city-04.jpg')
	background-size cover
	background-repeat no-repeat
	background-position center center
	
	padding-top 2em
	padding-bottom 3em
	
	color white
	
	h2
		color white
	
	input[type='email']
		width 80%
		max-width 520px
		margin-bottom 1.5em
		fs: rem(18px)