.section-signup-newsletter
	background-image url('img/background-city-04.jpg')
	background-size cover
	background-repeat no-repeat
	background-position center center
	
	padding-top 2em
	padding-bottom 3em
	
	color white
	
	h2
		color white