$sprite-base-font-size = 10px

.sprite {
    font-size: $sprite-base-font-size;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: 1px;
    display: inline-block;
}

.sprite {
    background-repeat: no-repeat;
    background-image: url(img/iconsprites/sprite.svg);
    background-size: 224em*(1/$sprite-base-font-size) 2606em*(1/$sprite-base-font-size);
}

.no-svg .sprite {
    background-image: url(img/iconsprites/sprite.png);
}

.sprite-circle_green {
    background-position: 0em*(1/$sprite-base-font-size) 0em*(1/$sprite-base-font-size);
    width: 224em*(1/$sprite-base-font-size);
    height: 224em*(1/$sprite-base-font-size);
}

.sprite-circle_grey {
    background-position: 0em*(1/$sprite-base-font-size) -224em*(1/$sprite-base-font-size);
    width: 224em*(1/$sprite-base-font-size);
    height: 224em*(1/$sprite-base-font-size);
}

.sprite-circle_red {
    background-position: 0em*(1/$sprite-base-font-size) -448em*(1/$sprite-base-font-size);
    width: 224em*(1/$sprite-base-font-size);
    height: 224em*(1/$sprite-base-font-size);
}

.sprite-close-button {
    background-position: 0em*(1/$sprite-base-font-size) -672em*(1/$sprite-base-font-size);
    width: 33em*(1/$sprite-base-font-size);
    height: 33em*(1/$sprite-base-font-size);
}

.sprite-crowdspot-logo {
    background-position: 0em*(1/$sprite-base-font-size) -705em*(1/$sprite-base-font-size);
    width: 178em*(1/$sprite-base-font-size);
    height: 28em*(1/$sprite-base-font-size);
}

.sprite-facebook_logo_big {
    background-position: 0em*(1/$sprite-base-font-size) -733em*(1/$sprite-base-font-size);
    width: 27em*(1/$sprite-base-font-size);
    height: 26em*(1/$sprite-base-font-size);
}

.sprite-facebook_logo_footer {
    background-position: 0em*(1/$sprite-base-font-size) -759em*(1/$sprite-base-font-size);
    width: 16em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-facebook_logo_footer_white {
    background-position: 0em*(1/$sprite-base-font-size) -775em*(1/$sprite-base-font-size);
    width: 16em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-green_arrow {
    background-position: 0em*(1/$sprite-base-font-size) -791em*(1/$sprite-base-font-size);
    width: 52em*(1/$sprite-base-font-size);
    height: 78em*(1/$sprite-base-font-size);
}

.sprite-grey_arrow {
    background-position: 0em*(1/$sprite-base-font-size) -869em*(1/$sprite-base-font-size);
    width: 52em*(1/$sprite-base-font-size);
    height: 78em*(1/$sprite-base-font-size);
}

.sprite-instagram_logo_big {
    background-position: 0em*(1/$sprite-base-font-size) -947em*(1/$sprite-base-font-size);
    width: 28em*(1/$sprite-base-font-size);
    height: 26em*(1/$sprite-base-font-size);
}

.sprite-instagram_logo_footer {
    background-position: 0em*(1/$sprite-base-font-size) -973em*(1/$sprite-base-font-size);
    width: 17em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-instagram_logo_footer_white {
    background-position: 0em*(1/$sprite-base-font-size) -989em*(1/$sprite-base-font-size);
    width: 17em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-instagram_logo_posts {
    background-position: 0em*(1/$sprite-base-font-size) -1005em*(1/$sprite-base-font-size);
    width: 38em*(1/$sprite-base-font-size);
    height: 36em*(1/$sprite-base-font-size);
}

.sprite-linkedin {
    background-position: 0em*(1/$sprite-base-font-size) -1041em*(1/$sprite-base-font-size);
    width: 15.27em*(1/$sprite-base-font-size);
    height: 15.651em*(1/$sprite-base-font-size);
}

.sprite-logo-cityofmelbourne {
    background-position: 0em*(1/$sprite-base-font-size) -1057em*(1/$sprite-base-font-size);
    width: 33em*(1/$sprite-base-font-size);
    height: 31em*(1/$sprite-base-font-size);
}

.sprite-logo-cityofportphillip {
    background-position: 0em*(1/$sprite-base-font-size) -1088em*(1/$sprite-base-font-size);
    width: 39em*(1/$sprite-base-font-size);
    height: 39em*(1/$sprite-base-font-size);
}

.sprite-logo-facebook {
    background-position: 0em*(1/$sprite-base-font-size) -1127em*(1/$sprite-base-font-size);
    width: 30em*(1/$sprite-base-font-size);
    height: 31em*(1/$sprite-base-font-size);
}

.sprite-logo-instagram {
    background-position: 0em*(1/$sprite-base-font-size) -1158em*(1/$sprite-base-font-size);
    width: 30em*(1/$sprite-base-font-size);
    height: 30em*(1/$sprite-base-font-size);
}

.sprite-logo-linkedin {
    background-position: 0em*(1/$sprite-base-font-size) -1188em*(1/$sprite-base-font-size);
    width: 30em*(1/$sprite-base-font-size);
    height: 30em*(1/$sprite-base-font-size);
}

.sprite-logo-parksvictoria {
    background-position: 0em*(1/$sprite-base-font-size) -1218em*(1/$sprite-base-font-size);
    width: 41em*(1/$sprite-base-font-size);
    height: 26em*(1/$sprite-base-font-size);
}

.sprite-logo-plan {
    background-position: 0em*(1/$sprite-base-font-size) -1244em*(1/$sprite-base-font-size);
    width: 75em*(1/$sprite-base-font-size);
    height: 29em*(1/$sprite-base-font-size);
}

.sprite-logo-tac {
    background-position: 0em*(1/$sprite-base-font-size) -1273em*(1/$sprite-base-font-size);
    width: 53em*(1/$sprite-base-font-size);
    height: 25em*(1/$sprite-base-font-size);
}

.sprite-logo-theuniversityofmelbourne {
    background-position: 0em*(1/$sprite-base-font-size) -1298em*(1/$sprite-base-font-size);
    width: 39em*(1/$sprite-base-font-size);
    height: 37em*(1/$sprite-base-font-size);
}

.sprite-logo-twitter {
    background-position: 0em*(1/$sprite-base-font-size) -1335em*(1/$sprite-base-font-size);
    width: 30em*(1/$sprite-base-font-size);
    height: 25em*(1/$sprite-base-font-size);
}

.sprite-logo-victoria {
    background-position: 0em*(1/$sprite-base-font-size) -1360em*(1/$sprite-base-font-size);
    width: 55em*(1/$sprite-base-font-size);
    height: 31em*(1/$sprite-base-font-size);
}

.sprite-logo-vta {
    background-position: 0em*(1/$sprite-base-font-size) -1391em*(1/$sprite-base-font-size);
    width: 53em*(1/$sprite-base-font-size);
    height: 31em*(1/$sprite-base-font-size);
}

.sprite-post-arrow-left {
    background-position: 0em*(1/$sprite-base-font-size) -1422em*(1/$sprite-base-font-size);
    width: 10em*(1/$sprite-base-font-size);
    height: 15em*(1/$sprite-base-font-size);
}

.sprite-post-facebook-share {
    background-position: 0em*(1/$sprite-base-font-size) -1437em*(1/$sprite-base-font-size);
    width: 16em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-projects-comments-icon {
    background-position: 0em*(1/$sprite-base-font-size) -1453em*(1/$sprite-base-font-size);
    width: 69em*(1/$sprite-base-font-size);
    height: 64em*(1/$sprite-base-font-size);
}

.sprite-projects-spots-icon {
    background-position: 0em*(1/$sprite-base-font-size) -1517em*(1/$sprite-base-font-size);
    width: 39em*(1/$sprite-base-font-size);
    height: 58em*(1/$sprite-base-font-size);
}

.sprite-projects-supports-icon {
    background-position: 0em*(1/$sprite-base-font-size) -1575em*(1/$sprite-base-font-size);
    width: 55em*(1/$sprite-base-font-size);
    height: 85em*(1/$sprite-base-font-size);
}

.sprite-red_arrow {
    background-position: 0em*(1/$sprite-base-font-size) -1660em*(1/$sprite-base-font-size);
    width: 52em*(1/$sprite-base-font-size);
    height: 78em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-left {
    background-position: 0em*(1/$sprite-base-font-size) -1738em*(1/$sprite-base-font-size);
    width: 69em*(1/$sprite-base-font-size);
    height: 101em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-left-dark {
    background-position: 0em*(1/$sprite-base-font-size) -1839em*(1/$sprite-base-font-size);
    width: 51em*(1/$sprite-base-font-size);
    height: 50em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-left-mobile {
    background-position: 0em*(1/$sprite-base-font-size) -1889em*(1/$sprite-base-font-size);
    width: 50em*(1/$sprite-base-font-size);
    height: 65em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-right {
    background-position: 0em*(1/$sprite-base-font-size) -1954em*(1/$sprite-base-font-size);
    width: 69em*(1/$sprite-base-font-size);
    height: 101em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-right-dark {
    background-position: 0em*(1/$sprite-base-font-size) -2055em*(1/$sprite-base-font-size);
    width: 51em*(1/$sprite-base-font-size);
    height: 50em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-right-mobile {
    background-position: 0em*(1/$sprite-base-font-size) -2105em*(1/$sprite-base-font-size);
    width: 50em*(1/$sprite-base-font-size);
    height: 64em*(1/$sprite-base-font-size);
}

.sprite-slider-dot {
    background-position: 0em*(1/$sprite-base-font-size) -2169em*(1/$sprite-base-font-size);
    width: 10em*(1/$sprite-base-font-size);
    height: 10em*(1/$sprite-base-font-size);
}

.sprite-slider-dot-current {
    background-position: 0em*(1/$sprite-base-font-size) -2179em*(1/$sprite-base-font-size);
    width: 10em*(1/$sprite-base-font-size);
    height: 10em*(1/$sprite-base-font-size);
}

.sprite-solutions-asset-monitoring {
    background-position: 0em*(1/$sprite-base-font-size) -2189em*(1/$sprite-base-font-size);
    width: 106em*(1/$sprite-base-font-size);
    height: 57em*(1/$sprite-base-font-size);
}

.sprite-solutions-community-engagement {
    background-position: 0em*(1/$sprite-base-font-size) -2246em*(1/$sprite-base-font-size);
    width: 77em*(1/$sprite-base-font-size);
    height: 57em*(1/$sprite-base-font-size);
}

.sprite-solutions-environmental-management {
    background-position: 0em*(1/$sprite-base-font-size) -2303em*(1/$sprite-base-font-size);
    width: 57em*(1/$sprite-base-font-size);
    height: 56em*(1/$sprite-base-font-size);
}

.sprite-solutions-internation-development {
    background-position: 0em*(1/$sprite-base-font-size) -2359em*(1/$sprite-base-font-size);
    width: 55em*(1/$sprite-base-font-size);
    height: 79em*(1/$sprite-base-font-size);
}

.sprite-solutions-media {
    background-position: 0em*(1/$sprite-base-font-size) -2438em*(1/$sprite-base-font-size);
    width: 59em*(1/$sprite-base-font-size);
    height: 52em*(1/$sprite-base-font-size);
}

.sprite-solutions-urban-planning {
    background-position: 0em*(1/$sprite-base-font-size) -2490em*(1/$sprite-base-font-size);
    width: 85em*(1/$sprite-base-font-size);
    height: 55em*(1/$sprite-base-font-size);
}

.sprite-x_close_desktop {
    background-position: 0em*(1/$sprite-base-font-size) -2545em*(1/$sprite-base-font-size);
    width: 40em*(1/$sprite-base-font-size);
    height: 40em*(1/$sprite-base-font-size);
}

.sprite-x_close_mobile {
    background-position: 0em*(1/$sprite-base-font-size) -2585em*(1/$sprite-base-font-size);
    width: 21em*(1/$sprite-base-font-size);
    height: 21em*(1/$sprite-base-font-size);
}

