$sprite-base-font-size = 10px

.sprite {
    font-size: $sprite-base-font-size;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    top: 1px;
    display: inline-block;
}

.sprite {
    background-repeat: no-repeat;
    background-image: url(img/iconsprites/sprite.svg);
    background-size: 224em*(1/$sprite-base-font-size) 1837em*(1/$sprite-base-font-size);
}

.no-svg .sprite {
    background-image: url(img/iconsprites/sprite.png);
}

.sprite-circle_green {
    background-position: 0em*(1/$sprite-base-font-size) 0em*(1/$sprite-base-font-size);
    width: 224em*(1/$sprite-base-font-size);
    height: 224em*(1/$sprite-base-font-size);
}

.sprite-circle_grey {
    background-position: 0em*(1/$sprite-base-font-size) -224em*(1/$sprite-base-font-size);
    width: 224em*(1/$sprite-base-font-size);
    height: 224em*(1/$sprite-base-font-size);
}

.sprite-circle_red {
    background-position: 0em*(1/$sprite-base-font-size) -448em*(1/$sprite-base-font-size);
    width: 224em*(1/$sprite-base-font-size);
    height: 224em*(1/$sprite-base-font-size);
}

.sprite-facebook_logo_big {
    background-position: 0em*(1/$sprite-base-font-size) -672em*(1/$sprite-base-font-size);
    width: 27em*(1/$sprite-base-font-size);
    height: 26em*(1/$sprite-base-font-size);
}

.sprite-facebook_logo_footer {
    background-position: 0em*(1/$sprite-base-font-size) -698em*(1/$sprite-base-font-size);
    width: 16em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-facebook_logo_footer_white {
    background-position: 0em*(1/$sprite-base-font-size) -714em*(1/$sprite-base-font-size);
    width: 16em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-green_arrow {
    background-position: 0em*(1/$sprite-base-font-size) -730em*(1/$sprite-base-font-size);
    width: 52em*(1/$sprite-base-font-size);
    height: 78em*(1/$sprite-base-font-size);
}

.sprite-grey_arrow {
    background-position: 0em*(1/$sprite-base-font-size) -808em*(1/$sprite-base-font-size);
    width: 52em*(1/$sprite-base-font-size);
    height: 78em*(1/$sprite-base-font-size);
}

.sprite-instagram_logo_big {
    background-position: 0em*(1/$sprite-base-font-size) -886em*(1/$sprite-base-font-size);
    width: 28em*(1/$sprite-base-font-size);
    height: 26em*(1/$sprite-base-font-size);
}

.sprite-instagram_logo_footer {
    background-position: 0em*(1/$sprite-base-font-size) -912em*(1/$sprite-base-font-size);
    width: 17em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-instagram_logo_footer_white {
    background-position: 0em*(1/$sprite-base-font-size) -928em*(1/$sprite-base-font-size);
    width: 17em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-instagram_logo_posts {
    background-position: 0em*(1/$sprite-base-font-size) -944em*(1/$sprite-base-font-size);
    width: 38em*(1/$sprite-base-font-size);
    height: 36em*(1/$sprite-base-font-size);
}

.sprite-linkedin {
    background-position: 0em*(1/$sprite-base-font-size) -980em*(1/$sprite-base-font-size);
    width: 15.27em*(1/$sprite-base-font-size);
    height: 15.651em*(1/$sprite-base-font-size);
}

.sprite-logo-cityofmelbourne {
    background-position: 0em*(1/$sprite-base-font-size) -996em*(1/$sprite-base-font-size);
    width: 33em*(1/$sprite-base-font-size);
    height: 31em*(1/$sprite-base-font-size);
}

.sprite-logo-cityofportphillip {
    background-position: 0em*(1/$sprite-base-font-size) -1027em*(1/$sprite-base-font-size);
    width: 39em*(1/$sprite-base-font-size);
    height: 39em*(1/$sprite-base-font-size);
}

.sprite-logo-parksvictoria {
    background-position: 0em*(1/$sprite-base-font-size) -1066em*(1/$sprite-base-font-size);
    width: 41em*(1/$sprite-base-font-size);
    height: 26em*(1/$sprite-base-font-size);
}

.sprite-logo-tac {
    background-position: 0em*(1/$sprite-base-font-size) -1092em*(1/$sprite-base-font-size);
    width: 53em*(1/$sprite-base-font-size);
    height: 25em*(1/$sprite-base-font-size);
}

.sprite-logo-theuniversityofmelbourne {
    background-position: 0em*(1/$sprite-base-font-size) -1117em*(1/$sprite-base-font-size);
    width: 39em*(1/$sprite-base-font-size);
    height: 37em*(1/$sprite-base-font-size);
}

.sprite-logo-victoria {
    background-position: 0em*(1/$sprite-base-font-size) -1154em*(1/$sprite-base-font-size);
    width: 55em*(1/$sprite-base-font-size);
    height: 31em*(1/$sprite-base-font-size);
}

.sprite-logo-vta {
    background-position: 0em*(1/$sprite-base-font-size) -1185em*(1/$sprite-base-font-size);
    width: 53em*(1/$sprite-base-font-size);
    height: 31em*(1/$sprite-base-font-size);
}

.sprite-post-arrow-left {
    background-position: 0em*(1/$sprite-base-font-size) -1216em*(1/$sprite-base-font-size);
    width: 10em*(1/$sprite-base-font-size);
    height: 15em*(1/$sprite-base-font-size);
}

.sprite-post-facebook-share {
    background-position: 0em*(1/$sprite-base-font-size) -1231em*(1/$sprite-base-font-size);
    width: 16em*(1/$sprite-base-font-size);
    height: 16em*(1/$sprite-base-font-size);
}

.sprite-red_arrow {
    background-position: 0em*(1/$sprite-base-font-size) -1247em*(1/$sprite-base-font-size);
    width: 52em*(1/$sprite-base-font-size);
    height: 78em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-left {
    background-position: 0em*(1/$sprite-base-font-size) -1325em*(1/$sprite-base-font-size);
    width: 69em*(1/$sprite-base-font-size);
    height: 101em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-left-dark {
    background-position: 0em*(1/$sprite-base-font-size) -1426em*(1/$sprite-base-font-size);
    width: 51em*(1/$sprite-base-font-size);
    height: 50em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-left-mobile {
    background-position: 0em*(1/$sprite-base-font-size) -1476em*(1/$sprite-base-font-size);
    width: 50em*(1/$sprite-base-font-size);
    height: 65em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-right {
    background-position: 0em*(1/$sprite-base-font-size) -1541em*(1/$sprite-base-font-size);
    width: 69em*(1/$sprite-base-font-size);
    height: 101em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-right-dark {
    background-position: 0em*(1/$sprite-base-font-size) -1642em*(1/$sprite-base-font-size);
    width: 51em*(1/$sprite-base-font-size);
    height: 50em*(1/$sprite-base-font-size);
}

.sprite-slider-arrow-right-mobile {
    background-position: 0em*(1/$sprite-base-font-size) -1692em*(1/$sprite-base-font-size);
    width: 50em*(1/$sprite-base-font-size);
    height: 64em*(1/$sprite-base-font-size);
}

.sprite-slider-dot {
    background-position: 0em*(1/$sprite-base-font-size) -1756em*(1/$sprite-base-font-size);
    width: 10em*(1/$sprite-base-font-size);
    height: 10em*(1/$sprite-base-font-size);
}

.sprite-slider-dot-current {
    background-position: 0em*(1/$sprite-base-font-size) -1766em*(1/$sprite-base-font-size);
    width: 10em*(1/$sprite-base-font-size);
    height: 10em*(1/$sprite-base-font-size);
}

.sprite-x_close_desktop {
    background-position: 0em*(1/$sprite-base-font-size) -1776em*(1/$sprite-base-font-size);
    width: 40em*(1/$sprite-base-font-size);
    height: 40em*(1/$sprite-base-font-size);
}

.sprite-x_close_mobile {
    background-position: 0em*(1/$sprite-base-font-size) -1816em*(1/$sprite-base-font-size);
    width: 21em*(1/$sprite-base-font-size);
    height: 21em*(1/$sprite-base-font-size);
}

