// @import url('https://fonts.googleapis.com/css?family=Raleway:400,700,300');
// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,300');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300');

$line-height-ratio  = 1.75
$header-ratio       = $golden
$body-font          = 'proxima-nova', sans-serif //$garamond
$body-font-weight   = 400
$body-color         = #666
$header-font        = 'proxima-nova', sans-serif; //$courier
$header-font-weight = 700
$header-color       = #111
$min-font           = 14px
$max-font           = 20px
$min-width          = 400px
$max-width          = 1440px
$vertical-rhythm    = true


		
typographic()